@tailwind components;
@tailwind utilities;
@tailwind base;

@layer utilities {
  .clip-around {
    clip-path: inset(0 -100vmax);
  }

  .card__preview-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* cursor: none; */
}

html::-webkit-scrollbar {
  width: 0;
}
/* 
* {
  cursor: none;
} */

a {
  scroll-behavior: smooth;
}
