@tailwind components;
@tailwind utilities;
@tailwind base;

@layer utilities {
  .clip-around {
    clip-path: inset(0 -100vmax);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}
