#Home {
  min-height: inherit;
  width: inherit;


  .Introduction {
    width: calc(1280px - 120px);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    &__heading {
      display: flex;
      flex-direction: column;

      color: #fff;

      z-index: 2;

      &__text {
        text-align: center;
      }
    }

  }
}